.custom-chatgpt {
    background-color: transparent;

    &:before {
        position: fixed;
        pointer-events: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.05;
        content: '';
        z-index: -1;
        background-image: var(--extension-bg-image);
        background-color: #fff;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }

    #thread-bottom-container:after {
        display: none;
    }

    #page-header {
        background-color: var(--bg-primary);
    }

    .projects-container {
        margin-top: calc(var(--spacing) * 4);
        padding: calc(var(--spacing) * 3);
        font-size: var(--text-sm);
        box-shadow: 0px 0px 10px 3px var(--red-500) inset;
        border-radius: var(--radius-lg);
        margin-left: calc(var(--spacing) * 2);
        margin-right: calc(var(--spacing) * 2);
    }
    .projects-container__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .projects-container__list-item {
        margin: 0;
        padding: 0;
        padding-top: calc(var(--spacing) * 1 * 1);
    }
    .projects-container__list-item:first-child {
        padding-top: 0;
    }
    .projects-container__list-item--level-0:not(:first-child) {
        border-top: 1px dashed var(--gray-100);
        margin-top: calc(var(--spacing) * 2.5);
        padding-top: calc(var(--spacing) * 2.5);
    }
    .projects-container__list-item--level-0 {
        padding-left: 0;
        /*text-transform: uppercase;*/
    }
    .projects-container__list-item--level-1 {
        padding-left: calc(var(--spacing) * 4 * 1);
    }
    .projects-container__list-item--level-2 {
        padding-left: calc(var(--spacing) * 4 * 2);
    }
    .projects-container__list-item--level-3 {
        padding-left: calc(var(--spacing) * 4 * 3);
    }
    .projects-container__list-item--level-4 {
        padding-left: calc(var(--spacing) * 4 * 4);
    }
    .projects-container__list-item--level-5 {
        padding-left: calc(var(--spacing) * 4 * 5);
    }
    .projects-container__list-item--level-6 {
        padding-left: calc(var(--spacing) * 4 * 6);
    }
    .projects-container__list-item--level-7 {
        padding-left: calc(var(--spacing) * 4 * 7);
    }
    .projects-container__list-item--level-8 {
        padding-left: calc(var(--spacing) * 4 * 8);
    }
    .projects-container__list-item--level-9 {
        padding-left: calc(var(--spacing) * 4 * 9);
    }
    .projects-container__list-item--heading {
        pointer-events: none;
    }
    .projects-container__list-item--done {
        opacity: 0.5;
    }
    .projects-container__list-item--active {
        font-weight: bold;
    }
    .projects-container__list-link {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .projects-container__list-link:hover {
        opacity: 0.9;
    }
    .projects-container__list-link-count {
        font-size: var(--text-xs);
        color: var(--gray-400);
    }
    .group.__menu-item[href*='project'].group.__menu-item:not(:first-child):not(.visible),
    .group.__menu-item[href*='project'].group.__menu-item:not(:first-child):not(.visible) + div,
    .group.__menu-item[href*='project'].group.__menu-item:not(:first-child).visible
        + div
        .group.__menu-item:not([data-active]) {
        /*opacity: 0.5;*/
        display: none;
    }

    .group\/thread .contain-inline-size:last-child ol li {
        box-shadow: 0px 0px 10px 3px var(--red-500) inset;
    }
    .group\/thread .contain-inline-size:last-child ol li .font-medium:first-child {
        font-size: var(--text-md);
    }
    .group\/thread .contain-inline-size:last-child ol li .text-token-text-secondary:last-child {
        font-size: var(--text-xs);
        color: var(--text-tertiary);
    }

    .header-title {
        font-size: var(--text-lg);
    }
    .header-title > * {
        padding: 0 calc(var(--spacing) * 1);
    }
    .header-title a {
        color: var(--text-tertiary);
    }

    .group\/scrollport,
    #thread .overflow-y-auto {
        scrollbar-width: auto;
        scrollbar-gutter: stable;
    }
    @supports (selector(::-webkit-scrollbar)) {
        .group\/scrollport,
        #thread .overflow-y-auto {
            scrollbar-color: auto;
        }
        .group\/scrollport::-webkit-scrollbar,
        .group\/scrollport:hover::-webkit-scrollbar,
        #thread .overflow-y-auto::-webkit-scrollbar {
            width: calc(var(--spacing) * 4);
        }
        .group\/scrollport::-webkit-scrollbar-track,
        #thread .overflow-y-auto::-webkit-scrollbar-track {
            background-color: var(--gray-800);
        }
        .group\/scrollport::-webkit-scrollbar-thumb,
        #thread .overflow-y-auto::-webkit-scrollbar-thumb {
            background-color: var(--red-500);
            cursor: pointer;
        }
    }
    @supports (not selector(::-webkit-scrollbar)) {
        .group\/scrollport,
        #thread .overflow-y-auto {
            scrollbar-color: var(--red-500) var(--gray-800);
        }
    }
    [data-testid='share-chat-button'] {
        display: none;
    }
    #thread-bottom-container .text-xs .pointer-events-auto {
        display: none;
    }
}
